<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
  <input type="text" name="spieler1" ngModel required>
  <select name="tore1" ngModel required>
    <option *ngFor="let v of [0,1,2,3,4,5,6]" [value]="v">{{v}}</option>
  </select>
  :
  <select name="tore2" ngModel required>
    <option *ngFor="let v of [0,1,2,3,4,5,6]" [value]="v">{{v}}</option>
  </select>
  <input type="text" name="spieler2" ngModel required>
  <input type="submit" />
</form>
<pre>{{f.value | json}}</pre>
<p>{{f.valid}}</p>